# Définition du réseau
# Ce réseau va permettre aux conteneurs de communiquer entre eux
networks:
  blockz_network:
volumes:
  # Volume pour sauvegarder les nodes_modules
  node_modules:
services:
  # Définition du service de l'api
  back-end:
    build:
      context: ./Blockz-back
      target: python # Faire appel à la partie du Dockerfile qui lancera l'api
    environment:
        - ENV=DEV # Variable pour que le back sache quel env il doit lancer
        - MYSQL_DB=Blockz
        - ADMIN_USERNAME=admin
        - ADMIN_PASSWORD=admin123
        - JWT_SECRET=dev-jwt-secret
        - JWT_EXPIRES_MINUTES=60
    ports:
        - 8000:8000 # Port Forwarding
    networks:
        - blockz_network 
  front-end:
    build:
      context: ./Blockz-front
      target: dev # Faire appel à la partie du Dockerfile qui lance l'application angular en dev
    ports:
      - "4200:4200" # Port Forwarding
    networks:
      - blockz_network
    volumes: 
      - node_modules:/app/node_modules
      # Bind qui permettra le changement des fichiers en réel
      - type: bind
        source: ./Blockz-front
        target: /app
