<div id="mainBody">
    <mat-card
        class="blockCard"
        appearance="outlined"
        *ngFor="let block of filteredBlocks"
        (click)="selectBlock(block)"
        [class.blockCardSelected]="block.id === selectedId"
    >
        <h3 class="blockTitle">{{ block.displayName }}</h3>
        <div class="blockCardLayout">
            <div class="blockMedia">
                <img [src]="block.imagePath ? '/static/' + block.imagePath : 'assets/404.png'" alt="{{ block.displayName }}" class="imageCard" />
            </div>
            <div class="blockContent">
                <div class="blockInfo">
                    <label>ID :</label>
                    <p>{{ block.id }}</p>
                </div>

                <div class="blockInfo">
                    <label>Nom :</label>
                    <p>{{ block.name }}</p>
                </div>

                <div class="blockInfo">
                    <label>Affichage :</label>
                    <p>{{ block.displayName }}</p>
                </div>

                <div class="blockInfo">
                    <label>Durabilite :</label>
                    <p>{{ block.hardness }}</p>
                </div>

                <div class="blockInfo">
                    <label>Resist. :</label>
                    <p>{{ block.resistance }}</p>
                </div>

                <div class="blockInfo">
                    <label>Stack :</label>
                    <p>{{ block.stackSize }}</p>
                </div>

                <div class="blockInfo">
                    <label>Creusable :</label>
                    <p>{{ block.diggable ? 'Oui' : 'Non' }}</p>
                </div>

                <div class="blockInfo">
                    <label>Materiau :</label>
                    <p>{{ block.material }}</p>
                </div>

                <div class="blockInfo">
                    <label>Transparent :</label>
                    <p>{{ block.transparent ? 'Oui' : 'Non' }}</p>
                </div>

                <div class="blockInfo">
                    <label>Lumiere :</label>
                    <p>{{ block.emitLight }}</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>
