<div id="mainBody">
    <mat-card class="blockCard" appearance="outlined" *ngFor="let block of blocks">
        <mat-card-header>
            <mat-card-title style="color: gray;font-weight: bolder;">{{ block.displayName }}</mat-card-title>
        </mat-card-header>

        <!-- Image du bloc -->
        <img mat-card-image src="assets/404.png" alt="{{ block.displayName }}" class="imageCard" />

        <mat-card-content>
            <!-- Affichage des propriétés du bloc -->
            <div class="blockInfo">
                <label>ID :</label>
                <p>{{ block.id }}</p>
            </div>

            <div class="blockInfo">
                <label>Nom :</label>
                <p>{{ block.name }}</p>
            </div>

            <div class="blockInfo">
                <label>Nom Affiché :</label>
                <p>{{ block.displayName }}</p>
            </div>

            <div class="blockInfo">
                <label>Durabilité (Hardness) :</label>
                <p>{{ block.hardness }}</p>
            </div>

            <div class="blockInfo">
                <label>Résistance :</label>
                <p>{{ block.resistance }}</p>
            </div>

            <div class="blockInfo">
                <label>Taille du Stack :</label>
                <p>{{ block.stackSize }}</p>
            </div>

            <div class="blockInfo">
                <label>Creusable (Diggable) :</label>
                <p>{{ block.diggable ? 'Oui' : 'Non' }}</p>
            </div>

            <div class="blockInfo">
                <label>Matériau :</label>
                <p>{{ block.material }}</p>
            </div>

            <div class="blockInfo">
                <label>Transparent :</label>
                <p>{{ block.transparent ? 'Oui' : 'Non' }}</p>
            </div>

            <div class="blockInfo">
                <label>Lumière Émise :</label>
                <p>{{ block.emitLight }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>